div {
    box-sizing: border-box;
    /* border: 1px solid red; */
}



#footer>div {
    width: 100%;
}

#footer_1 {
    height: 20%;
}

#footer_2 {
    height: 80%;
}


#footer_2>p {
    width: 100%;
    /* border: 1px solid blue; */
    margin: 0;
    /*p태그 기본 마진값없애기*/
    box-sizing: border-box;
    font-size: 11px;
}

#p1 {
    height: 80%;
    padding: 5px 15px;
}

#p2 {
    height: 20%;
    text-align: center;
}
#footer_1>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 15px;
    vertical-align: middle;
}