#main-content>div{
    width: 100%;
}
#main-content{

}
#main-content1{
    height: 110px;
}

#main-content2{
    height: 357px;
}
#main-content3{
    height: 93px; 
    display: flex;
    justify-content: space-between ;   
}
#main-content3 input[type="radio"]{
    appearance: none;
    width: 100px;
    height: 80px;
    border: 2px solid yellow;
    cursor: pointer;
}
#main-content3>input[type="radio"]:checked{
    background-color: aquamarine;
}



