@import url(//db.onlinewebfonts.com/c/1f00b50091b5a28cccf7b552ceefc8cd?family=Koverwatch);

/*오버워치 폰트*/
body {
    font-family: 'Koverwatch';
    box-sizing: border-box;
}

.login, .back {
    width: 240px;
    height: 120px;
   
    /* background-image: url(../sourcefiles/image/겐지이미지.jfif); */
    background-color: rgb(173, 82, 21);
    background-position: center;
    background-size: 240px 120px;  

    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(173, 82, 21);

}

.login>.text{
    color: white;
    font-size: 35px;
    text-decoration-thickness: bold;
    text-shadow: 2px 2px 3px rgba(32, 31, 31, 0.822);
    text-align: center;
    text-decoration: none;
}

.login:hover {

    cursor: pointer;
    background-image: url(../sourcefiles/image/겐지움짤.gif);
    background-position: center;
    background-size: 240px 120px;
    transition-duration: 2s;
}
.login:hover>.text{
    font-size: 36px;
    color: rgb(243, 200, 6);
}
.test{
    width:100%;
    min-width: 1124px;
    height: 62px;
    background-color: aquamarine;
}

